/* ==========================================
   FOOTER
========================================== */

.footer{

    position:relative;

    padding:50px 0 35px;

    background:#0a0a0a;

    border-top:1px solid rgba(255,255,255,.08);

    overflow:hidden;
}

/* Soft Glow */

.footer::before{

    content:"";

    position:absolute;

    width:350px;
    height:350px;

    left:50%;
    top:-250px;

    transform:translateX(-50%);

    border-radius:50%;

    background:rgba(255,255,255,.04);

    filter:blur(120px);
}

.footer-content{

    position:relative;

    z-index:2;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:18px;
}

/* Logo */

.footer-logo{

    font-size:30px;

    font-weight:700;

    color:white;

    letter-spacing:1px;
}

.footer-logo span{

    color:#a1a1aa;
}

/* Navigation */

.footer-links{

    display:flex;

    gap:30px;

    flex-wrap:wrap;

    justify-content:center;
}

.footer-links a{

    color:#a1a1aa;

    text-decoration:none;

    transition:.3s;
}

.footer-links a:hover{

    color:white;
}

/* Social */

.footer-social{

    display:flex;

    gap:18px;
}

.footer-social a{

    width:48px;

    height:48px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(255,255,255,.08);

    color:white;

    font-size:18px;

    transition:.35s;
}

.footer-social a:hover{

    transform:translateY(-5px);

    background:rgba(255,255,255,.08);

    box-shadow:
    0 0 20px rgba(255,255,255,.08);
}

/* Divider */

.footer-line{

    width:100%;

    max-width:900px;

    height:1px;

    background:rgba(255,255,255,.08);

    margin:10px 0;
}

/* Copyright */

.footer p{

    color:#71717a;

    font-size:15px;

    margin:0;
}

.footer p span{

    color:white;

    font-weight:500;
}

/* Mobile */

@media(max-width:768px){

.footer{

padding:40px 0 30px;

}

.footer-links{

gap:18px;

}

}