.app{

    background:#050505;

    color:white;

    overflow-x:hidden;

    background-image:

    radial-gradient(circle at 20% 20%,
    rgba(255,255,255,.05),
    transparent 30%),

    radial-gradient(circle at 80% 80%,
    rgba(255,255,255,.04),
    transparent 35%);

    background-attachment:fixed;
}